/*
By: Brendan Luke
Date: September 21, 2021
Scope: stylsheet for guitar practice tool
*/

html {
    background-color: #A7A7A7;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
}
#tab {
    font-size: 9vh;
    line-height: 7vh;
    font-family: monospace;
    text-align: center;
    /*position: absolute;*/
    /*width: 60vw;*/
    height: 60vh;
    margin-top: 10vh;
    /*margin: 10vh 15vw;*/
}
#header {
    background-color: #0075d3;
    height: 10vh;
    padding: 0;
    margin: 0;
}
button#singleNote {
    width: 30vw;
    position: relative;
    left: 5vw;
    height: 7vh;
    top: 1.5vh;
    font-size: 5vh;
    line-height: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1vh;
    border: 0.5vh solid #00d477;
    background-color: #dddddd;
    padding: 0;
}
button#melodyNotes {
    width: 30vw;
    position: relative;
    left: 15vw;
    height: 7vh;
    top: 1.5vh;
    font-size: 5vh;
    line-height: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1vh;
    border: 0.5vh solid #00d477;
    background-color: #dddddd;
    padding: 0;
}
#header button:hover {
    border-color: #003985;
    color: #fff;
    background-color: #222;
    transition-duration: 0.25s;
}
input {
    position: relative;
    left: 23vw;
    top: 1.5vh;
    font-size: 5vh;
    height: 6vh;
    line-height: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1vh;
    border: 0.5vh solid #003985;
    width: 10vw;
    padding: 0;
}
#chartHouse {
    width: 25vw;
    height: 80vh;
    background-color: #f0f0f0;
    margin: 4vh 1vw 6vh;
    border-radius:3vh;
    padding: 0;
    position: fixed;
    left: 0;
}
#chartHouse canvas {
    width: 95%;
    height: 98%;
    background-color: #fff;
    margin: 1vh 1vw 1vh;
    border-radius:3vh;
    padding: 5px;
    display: flex;
    position: absolute;
}
#tabHousing {
    width: 70vw;
    height: 80vh;
    background-color: #f0f0f0;
    margin: 4vh 1vw 6vh;
    border-radius:3vh;
    padding: 0;
    position: absolute;
    right: 0;
}